
@{
    ViewBag.Title = "Main page";
    Layout = null;
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Naideno.kg - Бюро Находок</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
        <script src="~/scripts/jquery-1.10.2.js"></script>
        <script src="~/scripts/jquery.validate.js"></script>
        <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
		<script src="scripts/jquery.min.js"></script>
		<script src="scripts/jquery.scrolly.min.js"></script>
		<script src="scripts/jquery.dropotron.min.js"></script>
		<script src="scripts/jquery.scrollex.min.js"></script>
		<script src="scripts/skel.min.js"></script>
		<script src="scripts/skel-layers.min.js"></script>
		<script src="scripts/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="Content/css/skel.css" />
			<link rel="stylesheet" href="Content/css/style.css" />
			<link rel="stylesheet" href="Content/css/style-xlarge.css" />
		</noscript>
	</head>
	<body class="landing">
			<header id="header">
				<h1 id="logo"><a href="index.html">Naideno.kg</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Главная</a></li>
						<li><a href="">Документы</a></li>
					</ul>
				</nav>
			</header>
		<!-- Баннер -->
			<section id="banner">
				<div class="content">
					<header>
							<input type="button" value=Нашел>
				            <input type="button" value=Потерял>
					</header>
				</div>
				<a href="#one" class="goto-next scrolly">Next</a>
			</section>

		<!-- One -->
			<section id="one" class="spotlight style1 bottom">
				<span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="4u 12u$(medium)">
								<header>
									<h2>КАК ЭТО РАБОТАЕТ?</h2>
									<p>1. Заявка
Bы оставляете заявку о находке или пропаже заполнив анкету на сайте или позвонив по телефону +7 (707) 320-7070.
Если вы что-то нашли, то можете оставить свой телефон в форме ниже и наш менеджер перезвонит вам для уточнения данных.
</p>
								</header>
							</div>
							<div class="4u 12u$(medium)">
								<p>2. Обработка заявки
Система автоматически проверяет заявки о пропаже и находке на предмет совпадения. 
Оператор сверяет совпадения по заявкам и, в случае положительного результата, 
связывается с владельцем пропажи, сообщая о найденном предмете
</p>
							</div>
							<div class="4u$ 12u$(medium)">
								<p>3. Bозврат
После предоставления оператором контактных данных нашедшего человека,
вы договариваетесь с этим человеком и возвращаете свой потерянный предмет.
</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Next</a>
			</section>
			<!-- Четвертый -->
			<section id="four" class="wrapper style1 special fade-up">
				<div class="container">
					<div class="box alt">
						<div class="row uniform">
                        <!-- тут что то будет -->
							
						</div>
					</div>
					<footer class="major">
					<b>Статьи</b>
						<ul class="actions">
							<li><a href="#" class="button">На главную</a></li>
						</ul>
					</footer>
				</div>
			</section>
		<!-- Подвал -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 2016 Онлайн-бюро находок.</li><li>Дизель<a href="http://diesel.elcat.kg/index.php?s=e0a2f110f6b6609cabf1c1ef6dddaa16&showforum=107"> Бюро Находок</a></li>
				</ul>
			</footer>
	</body>
</html>

