
<form method="post">
    <table>

        <tr><td><p>Имя</p></td><td><input type="text" name="Name" /></td></tr>
        <tr><td><p>Фамилия</p></td><td><input type="text" name="SecondName" /></td></tr>
        <tr><td><p>Отчество</p></td><td><input type="text" name="ThirdName" /></td></tr>
        <tr><td><p>Категория</p></td><td><input type="text" name="Category" /></td></tr>
        <tr><td><input type="hidden" name="UploadDate" value="@DateTime.Now" />
        <tr><td><input type="submit" value="Добавить" /></td></tr>
    </table>
</form>

