
<form method="post">
    <table>
        <tr><td><p>Название</p></td><td><input type="text" name="Name" /></td></tr>
        <tr><td><p>Описание</p></td><td><input type="text" name="Desscription" /></td></tr>
        <tr><td><p>Категория</p></td><td><input type="text" name="Category" /></td></tr>
        <input type="hidden" name="UploadDate" value="@DateTime.Now" />
        <tr><td><input type="submit" value="Добавить" /></td></tr>
    </table>
</form>
